.user-list-wrapper {
    width: 720px;
    padding-top: 20px;
}

.DUser-card {
    margin-right: 18px;
    width: 222px;
    height: 302px;
    border-radius: 8px;
    margin-bottom: 18px;
    display: block;
    float: left;
    overflow: hidden;
}

.AUser-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
}

.video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.player-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container {
    position: absolute;
    background: transparent;
    bottom: 0px;
    width: 100%;
    height: 200px;
    display: flex;
    box-sizing: border-box;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 12px 20px;
    text-align: center;
}

.span-avatar-container {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-feature-settings: 'tnum';
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    border-radius: 50%;
    background-color: rgba(136, 136, 136, 0.5);
    margin-bottom: 14px;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
}

.user-name {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    margin: 0px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-nickname {
    max-width: 100%;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;

    span {
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        max-width: 180px;
        margin: 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.button-container {
    margin-top: 8px;

    button {
        min-width: 164px;
        min-height: 36px;
        padding: 6px 8px;
    }
}

.following {
    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }
}

.tick {
    width: 12px;
    height: 12px;
}
