.container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5.5px 8px;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.sekeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
      background: hsl(200, 20%, 80%);
    }
    100% {
      background: hsl(200, 20%, 95%);
    }
  }

.avatar {
    width: 35.5px;
    height: 32px;
    border-radius: 50%;
}

.content {
    width: 100%;
}

.nickname {
    width: 36%;
    height: 1.2rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    margin-left: 12px;
}

.name {
    margin-top: 10px;
    width: 24%;
    height: 1.2rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    margin-left: 12px;
}
