.container {
    width: 375px;
    margin: auto;
    padding: unset;
}

.title {
    color: rgba(22, 24, 35, 1);
    font-size: 32px;
    margin: 16px auto;
    font-weight: bold;
    text-align: center;
}

.des {
    color: rgb(22, 24, 35);
    font-weight: 600;
    font-size: 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}

.style-login {
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    color: rgba(22, 24, 35, 0.75);
    cursor: pointer;
}

.div-container {
    margin-bottom: 9px;
    position: relative;

    input {
        border-radius: 2px;
        background-color: rgba(22, 24, 35, 0.06);
        border: none rgba(22, 24, 35, 0.12);
        padding-inline-start: 12px;
        color: rgb(22, 24, 35);
        line-height: 100%;
        outline: none;
        font-size: 16px;
        height: 44px;
        caret-color: rgb(254, 44, 85);
        width: 100%;
        padding-inline-end: 44px;
    }
}

.icon-container {
    right: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    height: 44px;
    padding-inline-end: 16px;
}

.pass-icon {
    line-height: 0;
    margin-inline-start: 16px;
    cursor: pointer;
    font-size: 20px;
}

.link-container {
    margin-top: 9px;

    a {
        color: rgba(22, 24, 35, 0.75);
        font-weight: 600;
        font-size: 12px;
        display: inline-block;
    }
}

.style-button {
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    margin-top: 21px;

    &:disabled {
        border: none;
        color: rgba(22, 24, 35, 0.34);
        background-color: rgba(22, 24, 35, 0.06);
        pointer-events: none;
        user-select: none;
    }
}

.back-btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 40px 0 40px;
    font-weight: 600;
}

.modal-content-footer {
    color: rgb(22, 24, 35);
    height: 64px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
}

.link-text {
    margin-left: 5px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--priamry);
}

.age-selector {
    display: flex;
    margin-bottom: 4px;
}

.selector {
    background: rgba(22, 24, 35, 0.06);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.selector + .selector {
    margin-inline-start: 8px;
}

.select-label {
    width: 120px;
    height: 44px;
    padding: 0px 12px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(22, 24, 35, 0.34);
    font-size: 16px;
}

.options-wrapper {
    left: 0px;
    right: 0px;
    width: 120px;
    max-height: 320px;
    overflow: auto;
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    top: 50px;
    z-index: 12;
    display: none;
    transition: display 0.3s ease 0s;

    .option {
        height: 34px;
        overflow: auto;
        font-size: 16px;
        padding: 0px 12px;
        cursor: pointer;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: rgb(22, 24, 35);
        background: unset;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, .06);
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

.options-wrapper1 {
    display: block;
}

.note {
    color: rgba(22, 24, 35, 0.5);
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

.select-icon {
    transform: rotateZ(0deg);
    transition: all 0.3s ease 0s; 
}

.select-icon1 {
    transform: rotateZ(180deg);
    transition: all 0.3s ease 0s; 
}

.arrow-down {
    color: rgb(22, 24, 35);  
}
