.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    z-index: 10;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    background-color: var(--white);
    position: fixed;
    left: 0;
    top: 0;
}

.inner {
    height: 100%;
    width: 100%;
    max-width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo-link {
    display: flex;
}

.title {
    font-weight: 600;
}